*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li{
  list-style-type: none;
}

a{
  color: black;
}

#root{
  background: #302e33;
  overflow: hidden;

}

.container{
  display: flex;
}

main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  background: #000;
  height: 100vh;
  color: white;
  width: 200px;
  transition: all 0.5s ;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}



.bars{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  gap: 15px;
  color: white;
  padding: 40px 15px;
  transition: all 0.5s;
}

.link:hover{
  background: rgb(105, 46, 122);
  color: aliceblue;
  transition: all 0.5s;
}

.active{
  background: rgb(105, 46, 122);
  color: aliceblue;
}

.icon .link_text{
  font-size: 20px;
}

